<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tip Calculator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="app">
      <h1>Tip Calculator</h1>

      <div class="form">
        <div>
          <label>
            Bill amount:
            <input type="number" v-model="billAmount" />
          </label>
        </div>

        <div>
          <label>
            Tip percentage:
            <input
              type="number"
              v-model="tipPercentage"
              v-on:input="validateTipPercentage"
              max="100"
            />
          </label>
        </div>

        <div>
          <button v-on:click="resetForm">Reset</button>
        </div>
      </div>

      <div class="result">₹{{ total }}</div>

      <div class="message">Thank you for paying ₹{{ total }}</div>

      <div class="message" v-if="billAmount > 0 && tipPercentage > 0">
        <span v-if="tipPercentage <= 10">You are a good person!</span>
        <span v-else-if="tipPercentage <=20">You are a very good person!</span>
        <span v-else>You are the best person! 💖💖</span>
      </div>
    </main>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            billAmount: '',
            tipPercentage: '',
          };
        },
        computed: {
          total() {
            return (
              Number(this.billAmount) + Number((this.billAmount * this.tipPercentage) / 100)
            ).toFixed(2);
          },
        },
        methods: {
          resetForm() {
            this.billAmount = '';
            this.tipPercentage = '';
          },
          validateTipPercentage() {
            if (this.tipPercentage > 100) {
              this.tipPercentage = 100;
            }
          },
        },
      });

      app.mount('#app');
    </script>
  </body>
</html>
